<?xml version="1.0"?>
<config>
    <modules>
        <Goldenscent_Partners>
            <version>0.1.0</version>
        </Goldenscent_Partners>
    </modules>
    <frontend>
        <routers>
            <partners>
                <use>standard</use>
                <args>
                    <module>Goldenscent_Partners</module>
                    <frontName>partners</frontName>
                </args>
            </partners>
        </routers>
        <layout>
            <updates>
                <partners>
                    <file>partners.xml</file>
                </partners>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <partners>
                <use>admin</use>
                <args>
                    <module>Goldenscent_Partners</module>
                    <frontName>partners</frontName>
                </args>
            </partners>
            <adminhtml>
                <args>
                    <modules>
                        <Goldenscent_Partners before="Mage_Adminhtml">Goldenscent_Partners_Adminhtml</Goldenscent_Partners>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <partners module="partners">
                <title>Partners</title>
                <sort_order>71</sort_order>              
                <children>
                    <items module="partners">
                        <title>Manage Partners</title>
                        <sort_order>0</sort_order>
                        <action>partners/adminhtml_partners</action>
                    </items>
                </children>
            </partners>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <partners>
                            <title>Partners Module</title>
                            <sort_order>200</sort_order>
                        </partners>
                    </children>
                </admin>
            </resources>  
        </acl>
        <layout>
            <updates>
                <partners>
                    <file>partners.xml</file>
                </partners>
            </updates>
        </layout>
        <events>
            <core_layout_block_create_after>
                <observers>
                    <goldenscent_partners_model_observer>
                        <type>singleton</type>
                        <class>Goldenscent_Partners_Model_Observer</class>
                        <method>addColumnToResource</method>
                    </goldenscent_partners_model_observer>
                </observers>
            </core_layout_block_create_after>   
        </events>
    </adminhtml>  
    <global>
        <models>
            <partners>
                <class>Goldenscent_Partners_Model</class>
                <resourceModel>partners_mysql4</resourceModel>
            </partners>
            <partners_mysql4>
                <class>Goldenscent_Partners_Model_Mysql4</class>
                <entities>
                    <partners>
                        <table>partners</table>
                    </partners>
                </entities>
            </partners_mysql4>
        </models>
        <events>
            <controller_action_layout_render_before>
                <observers>
                  <goldenscent_partners_model_observer>
                    <type>singleton</type>
                    <class>Goldenscent_Partners_Model_Observer</class>
                    <method>set_partner_cookie</method>
                  </goldenscent_partners_model_observer>
                </observers>
            </controller_action_layout_render_before>
            <sales_order_place_after>
                <observers>
                  <goldenscent_partners_model_observer>
                    <type>singleton</type>
                    <class>Goldenscent_Partners_Model_Observer</class>
                    <method>save_partner_cookie</method>
                  </goldenscent_partners_model_observer>
                </observers>
            </sales_order_place_after>
        </events>
        <resources>
            <partners_setup>
                <setup>
                    <module>Goldenscent_Partners</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </partners_setup>
            <partners_write>
                <connection>
                    <use>core_write</use>
                </connection>
  
  
            </partners_write>
            <partners_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </partners_read>
        </resources>
        <blocks>
            <partners>
                <class>Goldenscent_Partners_Block</class>
            </partners>
        </blocks>
        <helpers>
            <partners>
                <class>Goldenscent_Partners_Helper</class>
            </partners>
        </helpers>
    </global>
</config> 